<header class='masthead'>
    <div class='stripes' aria-hidden='true'><span></span><span></span><span></span><span></span></div>
    <nav class='wrap masthead-inner' aria-label='Main'>
        <a class='wordmark' href='/'>Tom Kealy</a>
        <ul class='nav-links'>
            <li class='nav-stats'><a href='/stats/'>Statistics</a></li>
            <li class='nav-essays'><a href='/essays/'>Essays</a></li>
            <li class='nav-about'><a href='/about/'>About</a></li>
            <li class='nav-rss'><a href='/feed.xml'>RSS</a></li>
        </ul>
    </nav>
</header>
