<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>
    {% seo %}
    {% feed_meta %}
    <link rel='preload' href='/fonts/fraunces-latin.woff2' as='font' type='font/woff2' crossorigin>
    <link rel='icon' type='image/png' href='/favicon.png'>
    <link href='/css/blog.css' rel='stylesheet'/>
    <link href='/css/theme.css' rel='stylesheet'/>
    {% include katex.html %}
</head>
<body class='section-{{ page.section | default: "page" }}'>
    {% include nav.html %}
    <div id='blog' class='wrap'>
        {{ content }}
    </div>
</body>
</html>
